body { background: #7c29e2; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 19px; display: flex; }
.block-cluster-0 { color: #ebb11d; font-size: 12px; margin-bottom: 5px; }
.block-sms-1 { color: #7bced6; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #757e4d; font-size: 15px; margin-bottom: 5px; }
.block-config-3 { color: #56b9c1; font-size: 18px; margin-bottom: 5px; }
.block-router-4 { color: #257fff; font-size: 18px; margin-bottom: 5px; }
.block-product-5 { color: #9de32d; font-size: 21px; margin-bottom: 5px; }
.block-filter-6 { color: #cb4030; font-size: 15px; margin-bottom: 5px; }
.block-session-7 { color: #c556ee; font-size: 14px; margin-bottom: 5px; }